In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/world-happiness-index-by-reports-2013-2023/World Happiness Index by Reports 2013-2023 no nulls.csv
/kaggle/input/world-happiness-index-by-reports-2013-2023/World Happiness Index by Reports 2013-2023 with nulls.csv
/kaggle/input/world-happiness-index-by-reports-2013-2023/World Happiness Index by Reports 2013-2023.xlsx

**Exploratory Data Analysis of World Happiness Index Data 2013-2023**

In [2]:
#importing the libraries
import pandas as pd
import numpy as np

In [3]:
#Reading the dataset
country_list=pd.read_csv("/kaggle/input/world-happiness-index-by-reports-2013-2023/World Happiness Index by Reports 2013-2023 no nulls.csv")
country_list

          Country  Year  Index  Rank
0     Afghanistan  2013  4.040   143
1     Afghanistan  2015  3.575   153
2     Afghanistan  2016  3.360   154
3     Afghanistan  2017  3.794   141
4     Afghanistan  2018  3.632   145
...           ...   ...    ...   ...
1518     Zimbabwe  2019  3.663   146
1519     Zimbabwe  2020  3.299   151
1520     Zimbabwe  2021  3.145   148
1521     Zimbabwe  2022  2.995   144
1522     Zimbabwe  2023  3.204   134

[1523 rows x 4 columns]

In [4]:
#getting the top 5 rows from the dataset
country_list.head()

       Country  Year  Index  Rank
0  Afghanistan  2013  4.040   143
1  Afghanistan  2015  3.575   153
2  Afghanistan  2016  3.360   154
3  Afghanistan  2017  3.794   141
4  Afghanistan  2018  3.632   145

In [5]:
#showing the number of rows and columns
country_list.shape

(1523, 4)

In [6]:
#getting the last 5 rows from the dataset
country_list.tail()

       Country  Year  Index  Rank
1518  Zimbabwe  2019  3.663   146
1519  Zimbabwe  2020  3.299   151
1520  Zimbabwe  2021  3.145   148
1521  Zimbabwe  2022  2.995   144
1522  Zimbabwe  2023  3.204   134

In [7]:
#getting a brief summary of the dataframe
country_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1523 entries, 0 to 1522
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  1523 non-null   object
 1   Year     1523 non-null   int64
 2   Index    1523 non-null   float64
 3   Rank     1523 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 47.7+ KB

In [8]:
#number of elements in this dataframe
country_list.size

6092

In [9]:
#returns dimension of dataframe
country_list.ndim

2

In [10]:
#statistical summary for numerical columns present in the dataset
country_list.describe()

              Year        Index         Rank
count  1523.000000  1523.000000  1523.000000
mean   2018.298752     5.438242    76.777413
std       3.015408     1.115623    44.190303
min    2013.000000     1.859000     1.000000
25%    2016.000000     4.594000    39.000000
50%    2018.000000     5.425000    77.000000
75%    2021.000000     6.258500   115.000000
max    2023.000000     7.842000   158.000000

In [11]:
#returns random sample from dataset
country_list.sample()

    Country  Year  Index  Rank
444   Gabon  2013  4.114   138

In [12]:
#returns the number of null values in each columns
country_list.isnull( ).sum( )

Country    0
Year       0
Index      0
Rank       0
dtype: int64

In [13]:
#Returns number of unique entries in each columns
country_list.nunique()

Country     167
Year         10
Index      1209
Rank        158
dtype: int64

In [14]:
#returns starting and ending index values
country_list.index

RangeIndex(start=0, stop=1523, step=1)

In [15]:
#lists the columns in the dataset
country_list.columns

Index(['Country', 'Year', 'Index', 'Rank'], dtype='object')

In [16]:
#returns memory usage in bytes
country_list.memory_usage( )

Index        128
Country    12184
Year       12184
Index      12184
Rank       12184
dtype: int64

In [17]:
#drops any missing values
country_list.dropna( )
country_list.shape

(1523, 4)

In [18]:
#returns the datatype of the columns
country_list.dtypes

Country     object
Year         int64
Index      float64
Rank         int64
dtype: object

In [19]:
#find the pairwise correlation of all columns in the dataframe 
#used for feature selection
country_list.corr( )

           Year     Index      Rank
Year   1.000000  0.050023 -0.055326
Index  0.050023  1.000000 -0.986288
Rank  -0.055326 -0.986288  1.000000

In [20]:
#used to get a Series containing counts of unique values
country_list['Year'].value_counts( )

2015    158
2016    157
2013    156
2018    156
2019    156
2017    155
2020    153
2021    149
2022    146
2023    137
Name: Year, dtype: int64

In [21]:
#returns a dataframe filled with boolean values with true indicating missing values.
country_list.isna()

      Country   Year  Index   Rank
0       False  False  False  False
1       False  False  False  False
2       False  False  False  False
3       False  False  False  False
4       False  False  False  False
...       ...    ...    ...    ...
1518    False  False  False  False
1519    False  False  False  False
1520    False  False  False  False
1521    False  False  False  False
1522    False  False  False  False

[1523 rows x 4 columns]

In [22]:
#Returns the first n rows ordered by columns in descending order
country_list.nlargest(5,'Index')

     Country  Year  Index  Rank
431  Finland  2021  7.842     1
432  Finland  2022  7.821     1
430  Finland  2020  7.809     1
433  Finland  2023  7.804     1
429  Finland  2019  7.769     1

In [23]:
# returns a boolean Series denoting duplicate rows (not applicable in this dataset)
duplicates=country_list.duplicated()
duplicates.sum()

0